#programs {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}

.program-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-height: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.program-card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.program-card div button {
  all: unset;
  cursor: pointer;
  background-color: rgb(68, 159, 68);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
}

.program-card div button:hover {
  background-color: rgba(68, 159, 68, 0.873);
  border-radius: 1.1rem;
  transition: ease-in-out;
  transition-duration: 400ms;
}

#code-preview {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #44444442;
}

#code-preview div {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  overflow: auto;
}

#close-preview {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border: none;
  background-color: #ffffff00;
}

#close-preview:hover svg {
  fill: rgba(68, 159, 68, 0.873);
  transition: ease-in-out;
  transition-duration: 400ms;
}
